<div class="input-wrapper">
    <input
        id={{id}}
        class="input-custom {{input-error}}"
        placeholder={{placeholder}}
        type={{type}}
        name={{name}}
    />
    <label for={{id}} class="input-label">
        {{label-title}}
    </label>
</div>
