<div class="inputform-wrapper">
    <label for={{id}} class="inputform-label">
        {{title}}
    </label>
    <input
        {{!-- id={{id}}
        class="inputform"
        type={{type}}
        value={{value}}
        name={{name}} --}}
        {{Input
            id=id
            type=type
            name=name
            value=value
            ref="input"
            className="inputform"
        }}
    />
</div>
